<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@5.5.1/keen-slider.min.css">
        <%let main = null %>
        <%let featured = null %>
        <%let mosaic = null %>
        <%if(typeof slider === 'object' && slider!== null){%>
          <% main = slider.filter(el => el.position =='main');%>
          <% featured = slider.filter(el => el.position =='featured');%>
          <% mosaic = slider.filter(el => (el.position =='vertical' || el.position =='bottom' || el.position =='wide' || el.position =='middle' || el.position =='tall'));%>
        <%}%>
        <%if(main!==null && main.length>=1){%>
          <div class="navigation-wrapper">
            <div style="box-shadow: 0 3px 10px #ab0bc3;" id="carousel" class="keen-slider">
              <%for(let m of main){%>
                <div class="keen-slider__slide"><a href="<%=m.url%>"><img src="<%= cdnurl ? cdnurl : imgurl%>/images/slides/<%= m.image %>" alt="<%=m.name%>" /></a></div>
              <%}%>
            </div>
          </div>
          <div id="dots" class="dots"></div>
        <%}%>
          <%if(featured!==null && featured.length>=1){%>
          <div class="columns is-centered m-1">
            <div class="column">
                <section class="section is-paddingless">
                  <div class="columns">
                    <%for(let f of featured){%>
                      <div class="column">
                        <p class="has-text-centered"><a href="<%=f.url%>"><img src="<%= cdnurl ? cdnurl : imgurl %>/images/slides/<%= f.image %>" alt="<%=f.name%>"/></a></p>
                      </div>
                    <%}%>
                  </div>
                </section>
            </div>
          </div>
          <%}%>
          <div class="columns is-gapless is-centered m-0">
            <div class="column">
              <%if(object.products && object.products.length>0){%>
                <hr>
                <h6 class="subtitle is-6 has-text-weight-bold has-text-white">Productos vistos recientemente</h6>
                <br>
                <%- partial('../partials/productlist.ejs') %>
                <hr>
              <%}%>
            </div>
          </div>
          
          <%for(let cm of cms){%>
              <%- cm.content %>
          <%}%>
          <div class="columns is-gapless is-centered m-0">
            <div class="column">
            <%if(mosaic!==null && mosaic.length>=1){%>
                <section style="background-color: black; padding: 2px;" class="section is-paddingless">
                <p class="container has-text-centered">
                  <div class="tile is-ancestor" onclick="">
                    <%let vbm = mosaic.filter(el => el.position =='vertical' || el.position =='bottom'|| el.position =='middle' || el.position =='wide')%>
                      <%if(vbm.length>0){%>
                      <div class="tile is-vertical">
                        <div class="tile">
                          <%let vb = mosaic.filter(el => el.position =='vertical' || el.position =='bottom')%>
                          <%if(vb.length>0){%>
                          <div class="tile is-parent is-vertical">
                            <%let vertical = mosaic.filter(el => el.position =='vertical')%>
                            <%if(vertical.length>0){%>
                            <article destination="<%=vertical[0].url%>" class="tile is-child notification" style="color:<%=vertical[0].textColor.code%>;background-image: url('<%= cdnurl ? cdnurl : imgurl %>/images/slides/<%= vertical[0].image %>'); background-size: cover;background-position:center;">
                              <div class="is-capitalized is-size-5"><%=vertical[0].name%></div>
                              <div class="is-size-6"><%=vertical[0].text%></div>
                            </article>
                            <%}%>
                            <%let bottom = mosaic.filter(el => el.position =='bottom')%>
                            <%if(bottom.length>0){%>
                              <article destination="<%=bottom[0].url%>" class="tile is-child notification" style="color:<%=bottom[0].textColor.code%>;background-image: url('<%= cdnurl ? cdnurl : imgurl %>/images/slides/<%= bottom[0].image %>'); background-size: cover;background-position:center;">
                                <div class="is-capitalized is-size-5"><%=bottom[0].name%></div>
                                <div class="is-size-6"><%=bottom[0].text%></div>
                              </article>
                            <%}%>
                          </div>
                          <%}%>
                          <%let middle = mosaic.filter(el => el.position =='middle')%>
                          <%if(middle.length>0){%>
                            <div class="tile is-parent">
                              <article destination="<%=middle[0].url%>" class="tile is-child notification" style="color:<%=middle[0].textColor.code%>;background-image: url('<%= cdnurl ? cdnurl : imgurl %>/images/slides/<%= middle[0].image %>'); background-size: cover;background-position:center;">
                                <div class="is-capitalized is-size-5"><%=middle[0].name%></div>
                                <div class="subtitle is-size-6"><%=middle[0].text%></div>
                                <div class="content" style="min-height:180px;">
                                  <!-- Content -->
                                </div>
                              </article>
                            </div>
                          <%}%>
                        </div>
                        <%let wide = mosaic.filter(el => el.position =='wide')%>
                        <%if(wide.length>0){%>
                        <div class="tile is-parent">
                          <article destination="<%=wide[0].url%>" class="tile is-child notification" style="color:<%=wide[0].textColor.code%>; background-image: url('<%= cdnurl ? cdnurl : imgurl %>/images/slides/<%= wide[0].image %>'); background-size: cover;background-position:center;">
                            <div class="is-capitalized is-size-5"><%=wide[0].name%></div>
                            <div class="is-size-6"><%=wide[0].text%></div>
                            <div style="min-height:250px;" class="content">
                              <!-- Content -->
                            </div>
                          </article>
                        </div>
                        <%}%>
                      </div>
                      <%}%>
                      <%let tall = mosaic.filter(el => el.position =='tall')%>
                      <%if(tall.length>0){%>
                      <div class="tile is-parent" style="color:<%=tall[0].textColor.code%>">
                        <article destination="<%=tall[0].url%>" class="tile is-child notification" style="color:<%=tall[0].textColor.code%>;background-image: url('<%= cdnurl ? cdnurl : imgurl %>/images/slides/<%= tall[0].image %>'); background-size: cover;background-position:center;">
                          <div class="content">
                            <div class="is-capitalized is-size-5"><%=tall[0].name%></div>
                            <div class="is-size-6"><%=tall[0].text%></div>
                            <div class="content" style="min-height: 320px;">
                              <!-- Content -->
                            </div>
                          </div>
                        </article>
                      </div>
                      <%}%>
                  </div>
                </p>
                </section>            
            <%}%>
            </div>
          </div>
          <div class="columns is-centered mb-3">
            <div class="column is-12-desktop">
              <div style="background-color: rgba(0, 0, 0, 0.4); box-shadow: 0 3px 10px #ab0bc3; border-radius: 23px;" class="box">
               <section class="my-6 p-5">
                 <div class="columns is-centered">
                   <div class="column is-6">
                    <p class="title has-text-white is-4">Suscríbete a Nuestras Noticias</p>
                    <p class="subtitle has-text-white is-6 mt-2">Recibe información acerca de nosotros y las últimas novedades de nuestros productos.</p>
                   </div>
                   <div class="column is-6">
                      <form id="newsletter-form">
                        <div class="control has-icons-left">
                          <input class="input is-warning" type="email" name="newsletter-email" placeholder="Correo Electrónico" autocomplete="off">
                          <span class="icon is-small is-left">
                            <i class='bx bx-mail-send'></i>
                          </span>
                        </div>
                        <button class="button has-background-purple is-fullwidth mt-2">Suscribirme a las Novedades</button>
                      </form>
                   </div>
                 </div>
               </section>
              </div>
            </div>
          </div>
<script src="https://cdn.jsdelivr.net/npm/keen-slider@5.5.1/keen-slider.min.js"></script>
<script>

    var sliderElement = document.getElementById("carousel")
    var interval = 0
    let autoplay = (run) => {
      clearInterval(interval)
      interval = setInterval(() => {
        if (run && slider) {
          slider.next()
        }
      }, 2500)
    }

    updateClasses = (instance) => {
      var slide = instance.details().relativeSlide
      var dots = document.querySelectorAll(".dot")
      dots.forEach(function (dot, idx) {
        idx === slide
          ? dot.classList.add("dot--active")
          : dot.classList.remove("dot--active")
      })
    }
    
    var slider = new KeenSlider('#carousel',{
      loop: true,
      duration: 3000,
      dragStart: () => {
        autoplay(false)
      },
      dragEnd: () => {
        autoplay(true)
      },
      created: (instance) => {
        var dots_wrapper = document.getElementById("dots")
        var slides = document.querySelectorAll(".keen-slider__slide")
        slides.forEach(function (t, idx) {
          var dot = document.createElement("button")
          dot.classList.add("dot")
          dots_wrapper.appendChild(dot)
          dot.addEventListener("click", function () {
            instance.moveToSlide(idx)
          })
        })
        updateClasses(instance)
      },
      slideChanged(instance) {
        updateClasses(instance)
      },
    });

    sliderElement.addEventListener("mouseover", () => {
      autoplay(false)
    })
    sliderElement.addEventListener("mouseout", () => {
      autoplay(true)
    })
    autoplay(true)
    
    live('article','click',e=>{
      
      let route = e.target.getAttribute('destination') || e.target.closest('article').getAttribute('destination');
      window.location.href=route;
    });
    

    live('#newsletter-form > button','click',(e) =>{
      e.preventDefault();
      let email = document.querySelector('input[name="newsletter-email"]').value
      io.socket.post('/newsletter',{email:email},(resData) =>{
        if(resData){
          alert(resData.message);
          document.querySelector('input[name="newsletter-email"]').value = ''
          /*let newsblock = document.querySelector('#newsletter-form').parentNode.parentNode.parentNode.parentNode.parentNode
          addClass(newsblock,'is-hidden');*/
        }
      });
    });


</script>
